body{
    background-color: #181c16;
    color: #ffffff
}
ul, li{
    list-style-type: none;
}

a{
    color: #fff;
    color: #fff;
    font-family: monospace;
    text-decoration: none;
}
a:focus , a:active{
     color: #ffffff;
     border: none;
     outline: none;
     border-right: 6px solid;
     padding-right: 4px;
}

@keyframes blink { 
   50% { border-right: #fff; } 
}
a:focus, a:active{
    animation-name: blink ;
    animation-duration: .5s ;
    animation-timing-function: step-end ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ;
}
#main-nav{
    border: 3px solid #ffffff;
    height: 200px;
    width: 500px;
    margin: 0 auto;
    overflow: hidden
}